<h2>Word streaming</h2>

<%= form_for @text, url: {action: "create"} do |f| %>
    <div>
      <%= f.label :url %>
      <%= f.text_field :url %>
    </div>
    <div>
      <%= f.label :speed %>
      <%= f.number_field :speed, step: 0.1, min: 0.3, max: 5 %>
    </div>
    <div>
      <%= f.label :random_color %>
      <%= f.check_box :random_color %>
    </div>
    <%= f.submit "Create" %>
<% end %>