<h2>Word streaming</h2>

<%= form_for @text, url: {action: "stream"} do |f| %>
    <%= f.hidden_field :channel,  value: @channel_key %>
    <div>
      <%= f.label :url %>
      <%= f.text_field :url %>
    </div>
    <div>
      <%= f.label :speed %>
      <%= f.number_field :speed, step: 0.1, min: 0.3, max: 5 %>
    </div>
    <div>
      <%= f.label :random_color %>
      <%= f.check_box :random_color %>
    </div>
    <%= f.submit "Read it!" %>
<% end %>

<div id="streamingPlace">

</div>

<script>
  var pusherKey = "<%= @pusher_key %>";
  var myChannel = "<%= @channel_key %>";
</script>