<h2>Word streaming</h2>

<%= form_for @text, url: {action: "stream"} do |f| %>
    <%= f.hidden_field :channel,  value: @channel_key %>
    <%= f.hidden_field :job_id,  value: @job_id %>
    <div>
      <%= f.label :url %>
      <%= f.text_field :url %>
    </div>
    <div>
      <%= f.label :speed %>
      <%= f.number_field :speed, step: 0.1, min: 0.3, max: 5 %>
    </div>
    <div>
      <%= f.label :random_color %>
      <%= f.check_box :random_color %>
    </div>
    <%= f.submit "Read it!" %>
<% end %>

<div id="streamingPlace">
</div>

<div>
  <a href="#" id="pause" class="<%= @pause_enabled%> control">Pause</a>
  <a href="#" id="resume" class="disabled control">Resume</a>
</div>

<script>
  var jobId = "<%= @job_id %>"
  var pusherKey = "<%= @pusher_key %>";
  var myChannel = "<%= @channel_key %>";
</script>